* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0e17;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pemuat {
    background: #fffffe;
    width: 200px;
    height: 22px;
    border-radius: 40px;
    color: #ff8906;
    border: 2px solid;
    position: relative;
    overflow: hidden;
}

.pemuat::before {
    content: "";
    position: absolute;
    margin: 2px;
    width: 14px;
    top: 0;
    bottom: 0;
    left: -20px;
    border-radius: inherit;
    background: currentColor;
    box-shadow: -10px 0 12px 3px currentColor;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
    animation: gerak 1s infinite linear;
}

@keyframes gerak {
    100% {
        left: calc(100% + 20px);
    }
}